// variables.scss for Ghastly

// colours
$colour-text-default:	 #666;
$colour-text-header:     #222;
$colour-text-light: 	 #bbb;

$colour-link-primary: 	 #000; // #bb3b28;

$colour-header-from: 	#fff;
$colour-header-to: 		#fff;

$colour-divider: #f5f5f5;

// font families
$font-family-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;

// font defaults
$font-size: 18px;
$font-size-small: $font-size * .8;
$font-size-large: $font-size * 1.1;
$font-size-xlarge: $font-size * 1.25;
$font-size-xxlarge: $font-size * 1.3;

$line-height: 1.5em;

// layout
$padding: $line-height;
$max-width: 50em;
$max-width-text: 35em;
$border-radius: 5px;
$border-radius-inner: 3px;

// animations
$animation-speed-slow: 750ms;
$animation-speed-medium: 500ms;
$animation-speed-fast: 250ms;

// media queries

// pixels
// $tiny-width: 480px;
// $small-width: 768px;
// $medium-width: 992px;
// $large-width: 1200px;

// ems
$tiny-width: 30em;
$small-width: 50em;
$medium-width: 62em;
$large-width: 74em;
$massive-width: 90em;

$tiny:		"min-width: #{$tiny-width}";
$small: 	"min-width: #{$small-width}";
$medium:	"min-width: #{$medium-width}";
$large:		"min-width: #{$large-width}";
$massive:	"min-width: #{$massive-width}";

$highdensity: "only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              "only screen and (min--moz-device-pixel-ratio: 1.5)",
              "only screen and (-o-min-device-pixel-ratio: 3/2)",
              "only screen and (min-device-pixel-ratio: 1.5)";


