// variables.scss for Ghastly

// colours
$colour-text-default:	 #666;
$colour-text-header:     #222;

$colour-link-primary: 	 #bb3b28;

// font families
$font-family-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;

// font defaults
$font-base-size: 18px;
$line-height-base: 1.6em;

// layout
$padding: 2em;
$max-width: 50em;
$max-width-text: 35em;