// article.scss


article.post {
	margin-bottom: $line-height;
}

article .post-title {
	// line-height: $line-height * 2;
	// font-size: $font-size * 1.5;
}

article .post-meta {
	display: block;
	font-size: $font-size / 1.5;
	line-height: 1rem
}

article .post-excerpt {
	overflow: auto;
}