// article.scss

article.post {
	margin-bottom: $line-height;
}

article .post-title {
	// line-height: $line-height * 2;
	// font-size: $font-size * 1.5;
}

article .post-meta {
	display: block;
	font-size: $font-size / 1.5;
	padding-top: 0.75em;
	margin-bottom: -0.8em;
	opacity: 0;
	@include transition( opacity $animation-speed-slow);

	&.in-proximity {
		opacity: 1;
	}

}

article .post-excerpt {
	overflow: auto;
}