// blockquote.scss

blockquote {
	margin: 1.1em*3 0 0.9em*3 0;
	padding: $padding;
	// background: $colour-divider;
	// border-radius: $border-radius;
	border-top: 1px solid $colour-divider;
	border-bottom: 1px solid $colour-divider;
	font-size: $font-size-large;
	text-align: center;
	color: $colour-text-light;
	font-style: italic;

	@media($small) {
		width: 110%;
		margin-left: -5%;
	}

	@media($medium) {
		width: 140%;
		margin-left: -20%;
	}
}

blockquote p {
	margin: 0;
	padding: 0;
	text-indent: -0.4em;
}
blockquote p:before,
blockquote p:after {
	content: '"';
}
