// debug.scss
body {

	@include baseline-grid;

	background: white;

	@media($tiny) {
		background: red;
	}

	@media($small) {
		background: blue;
	}

	@media($medium) {
		background: green;
	}

	@media($large) {
		background: pink;
	}

	@media($massive) {
		background: gold;
	}

}