// header.scss

header.site-head {
	margin-bottom: $padding*2;
	padding: 5% 0 !important;
	overflow: auto;
	text-align: center;
	// @include linear-gradient($colour-header-from, $colour-header-to);
	border-bottom: 1px solid $colour-divider;
	background-size: $tiny;
	background-position: center center;
	background-repeat: repeat-x;
	// height: 12em;

	@media($small) {
		background-size: 100%;
		background-position: center center;
		// height: 22.5em;
	}
}

.site-head {
	text-align: center;
}

.post-header.is-index {
	opacity: .6;
}

.post-header {
	@include transition(opacity $animation-speed-medium);
	opacity: .1;
	padding-top: 1.5em;
	overflow: auto;
}

.blog-title {
	display: block;
	padding-top: 0.35em;
	color: white;
	// margin-bottom: 1.15em;
	font-weight: 500;
	text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

.in-proximity .post-header,
.in-proximity.post-header {
	opacity: 1;
}

.blog-description {
	font-weight: 200;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px rgba(0,0,0,.5);
	font-size: 1em;
	padding-top: 0.2em;
	// text-align: center;
}

.site-head-content {
	width: 100%;
}

// .site-head-content {
// 	margin-top: 2.8em;

// 	@media($small) {
// 		margin-top: 5.8em;
// 	}
// }

.blog-logo img {
	width: 150px;
	height: 150px;
}