// header.scss

header.site-head {
	margin-bottom: $padding*2;
	padding: $padding 0 $padding*2 0;
	overflow: auto;
	// @include linear-gradient($colour-header-from, $colour-header-to);
	border-bottom: 1px solid $colour-divider;
	background-size: 200% 100%;
	background-position: center;
	background-repeat: repeat-x;

	@media($small) {
		background-size: 100%;
		background-position: top;
	}
}
.site-head {
	text-align: center;
}

.post-header.is-index {
	opacity: .6;
}
.post-header {
	@include transition(opacity $animation-speed-medium);
	opacity: .1;
	padding-top: 1.5em;
	overflow: auto;

	.blog-title {
		display: block;
		padding-top: 0.35em;
		margin-bottom: 1.15em;
	}
}

.in-proximity .post-header,
.in-proximity.post-header {
	opacity: 1;
}

.blog-description {
	font-weight: 200;
	color: #aaa;
	// font-size: 1em;
	// text-align: center;
}