// typography.scss

body {
	color: $colour-text-default;
	font-family: $font-family-serif;
	font-size: $font-base-size;
	line-height: $line-height-base;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-sans;
	color: $colour-text-header;
	font-weight: 500;
	line-height: 1.2em;
}

// links
a {
	color: $colour-link-primary;
	text-decoration: none;

	&:hover {
		color: darken($colour-link-primary, 20%);
	}
}

// sizes
h1 {
	font-size: 2.5em;
}
